<h2>Create Some Shit</h2>


<% if flash[:errors] %>
    <ul>
      <% @concert.errors.full_messages.each do |error| %>
        <li><%= error %></li>
      <% end %>
    </ul>
<% end %>


<%= form_for (@concert) do |f| %>
  <%= f.label :showdate, "Date" %>
  <%= f.date_field :showdate %>
  <br>
  <%= f.label :showtime, "Show" %>
  <%= f.time_field :showtime %>
  <br>
  <%= f.label :artist %>
  <%= f.text_field :artist %>
  <br>
  <%= f.label :venue %>
  <%= f.text_field :venue %>
  <br>
  <%= f.label :city %>
  <%= f.text_field :city %>
  <br>
  <%= f.label :ticket %>
  <%= f.number_field :ticket, step: 0.01 %>
  <br>
  <%= f.label :description %>
  <%= f.text_area :description %>
  <br>
  <%= f.submit "Save"%>
<% end %>