<% if flash[:notice] %>
	<% flash[:notice] %>
<% end %>

<h2><%= @concert.artist %></h2>


<p><%= @concert.date.strftime("%m/%d/%Y") %></p>
<p><%= @concert.venue %></p>
<p><%= @concert.city %></p>
<p>$<%= @concert.ticket %></p>
<p><%= @concert.description %></p>
